name: Nossas Despesas Pull Request

on:
  pull_request:
    branches: ["main"]

permissions:
  pull-requests: write
  contents: read

env:
  ENV: prd
  PROJECT_ID: nossas-despesas
  GAR_LOCATION: us-east1
  SERVICE: nossas-despesas-be
  REGION: us-east1
  TESTCONTAINERS_RYUK_DISABLED: true

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: "actions/setup-go@v5"
        with:
          go-version: "1.23.8"
      
      - name: Install dependencies
        run: go mod download

      - name: Run tests with coverage
        id: run-tests
        run: |
          go test -json -coverprofile=coverage.out -covermode=atomic ./...
          go tool cover -func=coverage.out

      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: coverage.out
          badge: true
          fail_below_min: false
          format: markdown
          hide_branch_rate: false
          hide_complexity: true
          indicators: true
          output: both
          thresholds: '60 80'
    
      - name: Add Coverage PR Comment
        uses: marocchino/sticky-pull-request-comment@v2
        if: github.event_name == 'pull_request'
        with:
          recreate: true
          path: code-coverage-results.md

      - name: Run linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          args: --timeout=5m
          working-directory: .
