name: Nossas Despesas Deploy

on:
  pull_request:
    branches: ["main"]

env:
  ENV: prd
  PROJECT_ID: nossas-despesas
  GAR_LOCATION: us-east1
  SERVICE: nossas-despesas-be
  REGION: us-east1
  TESTCONTAINERS_RYUK_DISABLED: true

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: "actions/setup-go@v5"
        with:
          go-version: "1.23.8"

      - name: Set up tparse
        run: go install github.com/mfridman/tparse@latest

      - name: Run tests
        run: go test -json ./... | tparse -all
