name: Nossas Despesas Pull Request

on:
  pull_request:
    branches: ["main"]

permissions:
  pull-requests: write
  contents: read

env:
  ENV: prd
  PROJECT_ID: nossas-despesas
  GAR_LOCATION: us-east1
  SERVICE: nossas-despesas-be
  REGION: us-east1
  TESTCONTAINERS_RYUK_DISABLED: true

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: "actions/setup-go@v5"
        with:
          go-version: "1.23.8"

      - name: Run linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1.6
          args: --timeout=5m
          working-directory: .

      - name: Run tests with coverage
        id: test-coverage
        uses: ./.github/actions/test-coverage
        with:
          test-packages: ./internal/modules/...


